<br>
<br>
<div class="container">
    <div class="map">
        <h1 class="page-header">Character Summary JSON Response</h1>
        <pre class="prettyprint images">{{summary}}</pre>
    </div>
</div>
